<li [ngClass]="{'list-group-item': true,
'list-group-item-success': CurrrentPost.loveIts > 0,
'list-group-item-danger': CurrrentPost.loveIts < 0 }">
  <h2>
      {{ CurrrentPost.title }}

    <span class="pull-right">
        <small>{{ CurrrentPost.created_at | date: 'dd/MM/y à HH:mm' }}</small>
    </span>

     <h5>
       {{ CurrrentPost.content }}
     </h5>
  
    <br>

    <button class="btn btn-success" (click)="onPlus()">J'aime</button>
    <button class="btn btn-danger" (click)="onMoins()">Je n'aime pas</button>

  </h2>

</li>